version: "3.9"

services:
  backend:
    build: .
    container_name: node_backend
    restart: always
    ports:
      - "5000:5000"

    # Load env
    env_file:
      - .env

    # Extra overrides
    environment:
      - PORT=5000
      - DB_HOST=postgres
      - FRONTEND_URL=http://13.126.14.189:3001

    depends_on:
      - postgres

    networks:
      - app-network

    # Mount Kafka cert folder
    volumes:
      - ./certs:/app/certs

  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: whatsapp_backend
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:

volumes:
  postgres_data:
