name: Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          debug: true
          script: |
            cd ~/Miping/backend
            git pull origin main
            echo "${{ secrets.BACKEND_ENV }}" > .env
            docker compose down
            docker compose up -d --build
            echo "Waiting for PostgreSQL to start..."
            sleep 8
            docker compose exec -T backend node src/db/init.js
            docker compose exec -T backend node src/db/migrate.js
            docker compose exec -T backend node src/db/seed_superadmin.js
